@import 'colors';
@import 'base';

.bold {
    font-weight: bold;
}

p {
    display: inline-block;
    background-color: hsl(180, 50%, 50%);
}

.hello {
    background-color: red;

    .world {
        background-color: blue;
    }
}

.bye {
    background-color: red;

    .world {
        background-color: yellow;
    }
}

@mixin theme($theme: DarkGray) {
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
  }
  
.info {
    @include theme;
}
.alert {
    @include theme($theme: DarkRed);
}
.success {
    @include theme($theme: DarkGreen);
}

%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

// This CSS won't print because %equal-heights is never extended.
%equal-heights {
    display: flex;
    flex-wrap: wrap;
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
    border-color: red;
}

.warning {
    @extend %message-shared;
    border-color: yellow;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;

    .logo {
        text-align: center;

        .img {
            height: 110px;
            width: auto;
        }
    }

    .nav {
        align-items: center;
        display: flex;

        .item {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            padding: 20px;

            &.active {
                background-color: $item-selected;
            }
        }
    }

    .nav-login {
        align-items: center;
        display: flex;
        justify-content: center;

        .btn {
            background-color: $river-bed;
            border: none;
            box-shadow: $silver-chalice 0px 5px 15px;
            color: $white;
            font-size: 18px;
            padding: 15px 15px;
        }
    }

}